.login_form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    background-color: #F17F42;
    box-shadow: 0 15px 15px rgba(0,0,0,0.12), 0 15px 15px rgba(0,0,0,0.24);
}

.login_form div {
    background-color: inherit;
    margin: 10px;
}

.login_title {
    color: #FFEEE4;
}

.login_id_area input,
.login_pw_area input {
    border: 2px solid #CE6D39;
    background-color: #FFEEE4;
    outline: none;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.5s;
}

.login_id_area input:focus,
.login_pw_area input:focus {
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}

.login_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #CE6D39;
    cursor: pointer;
    transition: all 0.5s;
}

.login_button:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 0 10px 10px rgba(0,0,0,0.24);
}