.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 80px;
    background-color: gainsboro;
}

.nav_logo_area {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.nav_logo {
    width: 150px;
    height: auto;
    cursor: pointer;
    margin-right: 30px;
}

.nav_links_board {
    cursor: pointer;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.nav_links div {
    margin: 10px;
    cursor: pointer;
}